<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
    <title>PART LIST</title>
</head>
<body>

<div class="container">

    <h1>Notes</h1>

    <p>
        <a href="/parts-update/{id_parts_number}" th:href="@{/notesEdit}">Create</a>
    </p>

</body>
</html>